.App {
  font-family: sans-serif;
  text-align: center;
}
.title {
  color: green;
}

.table {
  background-color: #b9b9b9;
  border: 2px solid;
  width: 400px;
  height: 400px;
  text-align: center;
}

.msgtext {
  text-align: center;
  width: 350px;
  height: 25px;
}
.btn {
  height: 30px;
}

table {
  width: 100%;
}

thead,
tbody,
tr,
td,
th {
  display: block;
}

tr:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 90px;
}

tbody {
  height: 300px;
  overflow-y: auto;
}

thead {
}

tbody td,
thead th {
  width: 19.2%;
  float: left;
}
